In [1]:
import sqlite3

db = sqlite3.connect('IMDB.sqlite')
db

In [2]:
db = sqlite3.connect('IMDB_1.sqlite')
db

In [3]:
db = sqlite3.connect('School.sqlite')
db

In [4]:
cur = db.cursor()
cur

In [5]:
sql_query = 'Create table Student (RollNumber int Primary key, Name Text, Age int)'
cur.execute(sql_query)

In [6]:
cur.execute('Insert into Student values (101, "Aman", 20)')

In [7]:
db.commit()

In [8]:
cur.execute('Insert into Student values (102, "Amit", 21)')

In [9]:
db.commit()

In [ ]:
cur.execute('Insert into Student values()')