In [13]:
import sqlite3

db = sqlite3.connect('EmployeeDB.sqlite')

cur = db.cursor()

In [14]:
sql_query = "Create table Employee (employee_id int Primary key, name Text, age int, department Text, salary int)"

cur.execute(sql_query)

In [15]:
db.commit()

In [16]:
cur.execute("Insert into Employee values (100, 'Rishav', 25, 'Marketing', 50000)" )
db.commit()

In [17]:
cur.execute("Insert into Employee values (101, 'Abhishek', 26, 'Operations', 60000)" )
cur.execute("Insert into Employee values (102, 'Aman', 24, 'Human Resources', 75000)" )

db.commit()