In [17]:
import sqlite3

db = sqlite3.connect('EmployeeDB.sqlite')

cur = db.cursor()

In [3]:
sql_query = "delete from Employee where employee_id = 101"

cur.execute(sql_query)
db.commit()

In [4]:
id = 102

cur.execute("delete from Employee where employee_id = ?", (id,))
db.commit()

In [15]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

values = [(employee_id[i], name[i], age[i], department[i], salary[i]) for i in range(len(age))]

#print(values)
cur.executemany('insert into Employee values (?, ?, ?, ?, ?)', values)

db.commit()

In [21]:
cur.execute("select employee_id from Employee where department = 'Finance'")
for i in cur:
    print(i[0])

103
107

In [42]:
cur.execute("select department, count(department) from Employee group by department")
cur.fetchall()

[('Finance', 2),
 ('Human Resource', 2),
 ('IT', 2),
 ('Marketing', 5),
 ('Operations', 2)]

In [41]:
cur.execute("select department from employee ")
cur.fetchall()

[('Marketing',),
 ('Marketing',),
 ('Operations',),
 ('Finance',),
 ('Human Resource',),
 ('Marketing',),
 ('IT',),
 ('Finance',),
 ('IT',),
 ('Operations',),
 ('Marketing',),
 ('Human Resource',),
 ('Marketing',)]