In [1]:
import sqlite3

db = sqlite3.connect('School.sqlite')

cur = db.cursor()

In [2]:
# Extract data from table, method 1

cur.execute("Select * from Student")

for row in cur:
    print(row)

(101, 'Aman', 20)
(102, 'Amit', 21)
(103, 'Mohit', 24)
(104, 'Nikhil', 34)
(105, 'Nidhi', 20)
(106, 'Manisha', 21)
(107, 'Ankush', 22)

In [3]:
# Extract data from table, method 2 fetchone

cur.execute("Select * from Student")
cur.fetchone() # cur will point to next row after execution

(101, 'Aman', 20)

In [4]:
# Extract data from table, method 3 fetchall

cur.execute("Select * from Student")
cur.fetchall() # prints list of tuple

[(101, 'Aman', 20),
 (102, 'Amit', 21),
 (103, 'Mohit', 24),
 (104, 'Nikhil', 34),
 (105, 'Nidhi', 20),
 (106, 'Manisha', 21),
 (107, 'Ankush', 22)]

In [5]:
# Extract data from table, method 4 fetchmany

cur.execute("Select * from Student")
cur.fetchmany(5) # prints list of 'n' tuple

[(101, 'Aman', 20),
 (102, 'Amit', 21),
 (103, 'Mohit', 24),
 (104, 'Nikhil', 34),
 (105, 'Nidhi', 20)]

In [6]:
cur.execute('Select * from Student where RollNumber >= 103')
cur.fetchall()

[(103, 'Mohit', 24),
 (104, 'Nikhil', 34),
 (105, 'Nidhi', 20),
 (106, 'Manisha', 21),
 (107, 'Ankush', 22)]

In [9]:
cur.execute("Select * from Student where Name like 'A%' ")
cur.fetchall()

[(101, 'Aman', 20), (102, 'Amit', 21), (107, 'Ankush', 22)]