In [30]:
import sqlite3

db = sqlite3.connect('IMDB.sqlite') # No error thrown even if wrong filename is used

# Instead a file of that name gets created

db

In [31]:
# Cursor object - Allows us to run sql queries on our database

cur = db.cursor()

cur

In [32]:
db = sqlite3.connect('School.sqlite')

In [33]:
cur = db.cursor()
cur

In [34]:
# Create new table with name 'Student' columns = RNo, Name, Age

sql_query = "Create table Student (RollNumber int Primary key, Name Text, Age int)"

cur.execute(sql_query) # execute(query) used to execute query on table cur is pointing to

In [37]:
cur.execute("Insert into Student values (101, 'Aman', 20)")

In [38]:
# Any insertion will reflect only after commit!

db.commit()

In [39]:
cur.execute("Insert into Student values (102, 'Varun', 20)")

db.commit()

In [40]:
db.close()