In [4]:
import sqlite3

db = sqlite3.connect('School.sqlite')

cur = db.cursor()

In [5]:
cur.execute('Insert into Student values(103, "Mohit", 24)')
db.commit()

In [6]:
rollNumber = 104
Name = "Nikhil"
age = 34

cur.execute('Insert into Student values (?, ?, ?)', (rollNumber, Name, age))

db.commit()

In [8]:
# execute multiple statements

values = [(105, "Nidhi", 20), (106, "Manisha", 21), (107, "Ankush", 22)]

cur.executemany('Insert into Student values (?, ?, ?)', values)

db.commit()

### In case only one value require change

```
Make age 50 for student with roll number 103

new_age = 50

cur.execute("Update Student set Age = ? where RollNumber = 103", (new_age, ))
```