In [1]:
import sqlite3
db = sqlite3.connect('Employee_Detail.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
sql_query = 'create table Employee_Detail(Employee_ID int primary key, Name text, Age int, Department text, Salary int)'
cur.execute(sql_query)

In [4]:
values = [(101, 'Aadarsh', 25, 'Marketing', 50000),(102, 'Aarti', 27, 'Operations', 60000),(103, 'Siddharth', 25, 'Finance', 85000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)', values)
db.commit()

In [5]:
values = [(104, 'Aman', 24, 'Human Resource', 75000),(105, 'Amit', 30, 'Marketing', 50000),(106, 'Shivansh', 26, 'IT', 90000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)', values)
db.commit()

In [6]:
values = [(107, 'Vaibhav', 23, 'Finance', 85000),(108, 'Himanshu', 26, 'IT', 90000),(109, 'Raman', 25, 'Operations', 60000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)', values)
db.commit()

In [7]:
values = [(110, 'Kunal', 26, 'Marketing', 50000),(111, 'Adhira', 29, 'Human Resource', 75000),(112, 'Tanya', 24, 'Marketing', 50000)]
cur.executemany('Insert into Employee_Detail values (?,?,?,?,?)', values)
db.commit()

In [8]:
db.close()
print('Done')

Done

In [17]:
import sqlite3
db =sqlite3.connect('Employee_Detail.sqlite')
cur = db.cursor()

In [19]:
cur.execute('select * from Employee_Detail where Department = "Finance"')
ans = cur.fetchall()
for i in ans:
    print(i[0])
db.close()

103
107

In [20]:
import sqlite3
db = sqlite3.connect('Employee_Detail.sqlite')
cur = db.cursor()

In [21]:
cur.execute('select Department, count(*) from Employee_Detail group by Department')
ans = cur.fetchall()
for i in ans:
    print(i[0], i[1])
db.close()

Finance 2
Human Resource 2
IT 2
Marketing 4
Operations 2

In [23]:
import pandas as pd
import sqlite3
db = sqlite3.connect('IMDB.sqlite')

In [27]:
data = pd.read_sql_query('select * from genre', db)
data = data[data['genre']!='']
data = data['genre'].value_counts()
for i in range(len(data)):
    print(data.index[i], data.values[i])

Drama 77
Adventure 43
Action 33
Comedy 31
Biography 21
Sci-Fi 18
Thriller 14
Animation 13
Romance 13
Crime 11
Mystery 7
Fantasy 7
History 6
Sport 3
Music 3
Family 3
Horror 2
War 2
Western 2
Musical 1

In [28]:
import pandas as pd
import sqlite3
db = sqlite3.connect('IMDB.sqlite')

In [33]:
data = pd.read_sql_query('select * from earning inner join IMDB on earning.Movie_id=IMDB.Movie_id', db)
data["Total"] = data["Domestic"] + data["Worldwide"]
max1 = max(data["Total"])
data = data[data['Total']==max1]
print(data.values[0][5])

8.1

In [34]:
import pandas as pd
import sqlite3
db = sqlite3.connect('IMDB.sqlite')

In [38]:
data = pd.read_sql_query('select * from IMDB', db)
max1 = max(data['TotalVotes'])
data = data[data['TotalVotes']==max1]
print(data['Title'].values[0], data['Rating'].values[0])

InceptionÂ (2010) 8.8