## Sets

* A set contains an unordered collection of unique objects.

* Python implementation of the sets as they are known from mathematics. 

* Because of above point, sets unlike lists or tuples can't have multiple occurrences of the same element.

* Sets are mutable

In [1]:
a = {"apple", "abc", 23} # Sytax resembles dictionary, but here you have only keys

In [2]:
a

{23, 'abc', 'apple'}

In [3]:
type(a)

set

In [4]:
# As sets are unordered a[0] doesn't make sense

# a['abc'] doesn't make sense as there is no value associated with it
# a['abc'] throws 'set' object is not subscriptable

In [5]:
# To check if value exists in a set

'abc' in a

True

In [6]:
21 in a

False

In [7]:
# Iterating through a set

for v in a:
    print(v)

apple
abc
23

In [8]:
# Length of a set

len(a)

3

In [9]:
# To add data in a set

a.add("temp")

In [10]:
a

{23, 'abc', 'apple', 'temp'}

In [11]:
b = {'abc', 'ghi'}
b

{'abc', 'ghi'}

In [12]:
# Updating a with elements of another set

a.update(b)

In [13]:
a

{23, 'abc', 'apple', 'ghi', 'temp'}

In [14]:
a.remove('temp')
a

{23, 'abc', 'apple', 'ghi'}

In [15]:
# removing element not present will throw error

# for example a.remove('rrr') gives KeyError: 'rrr'

In [16]:
# discard function works like remove, but if key is not present no error is thrown

a.discard(23)

In [17]:
a

{'abc', 'apple', 'ghi'}

In [18]:
a.discard('rrr')

In [19]:
a

{'abc', 'apple', 'ghi'}

In [20]:
# pop function removes and returns one element from the set, could remove any element

a.pop()

'ghi'

In [21]:
a

{'abc', 'apple'}

In [22]:
# clear and delete functions

a.clear()
a

set()

In [23]:
del a

### Functions in sets

In [24]:
# Lets take two example sets a = {1,2 3,4} b = {3, 4, 5 ,6}

a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [25]:
# Intersection

a.intersection(b)

{3, 4}

In [26]:
# Union

a.union(b)

{1, 2, 3, 4, 5, 6}

In [27]:
# Difference

a.difference(b) #( A - B = Everything in A - common elements of A and B)

{1, 2}

In [28]:
b.difference(a)

{5, 6}

In [29]:
# Symmetric difference # returns all uncommon elements

a.symmetric_difference(b)

{1, 2, 5, 6}

In [30]:
# Updates a to intersection

a.intersection_update(b)

In [31]:
a

{3, 4}

In [32]:
a = {1, 2, 3, 4}

In [33]:
# Update a to difference
a.difference_update(b)
a

{1, 2}

In [34]:
a = {1, 2, 3, 4}

In [35]:
# Update a to symetric difference

a.symmetric_difference_update(b)

In [36]:
a

{1, 2, 5, 6}

In [37]:
a = {1, 2, 3, 4}

In [38]:
# There is no union update available

In [39]:
# If a set is a subset of another

a.issubset(b)

False

In [40]:
c = {3, 4}

c.issubset(a)

True

In [41]:
a.issuperset(c)

True

In [42]:
a.isdisjoint(b)

False

In [43]:
d = {7, 8}
a.isdisjoint(d)

True

#### Find the sum of All Unique number in a List

In [44]:
# Eg : [1, 2, 1, 3, 2, 4, 3] should return 10 (1 + 2 + 3 + 4)

# Repititions are not stored in set ie if you anything already in set, it doesnt gets added again

a = {1, 2, 3, 1, 3}

In [45]:
len(a)

3

In [46]:
a

{1, 2, 3}

In [47]:
# By default s = {} is a dictionary
s = {}
type(s)

dict

In [48]:
# To create empty set
s = set()

In [49]:
type(s)

set

In [50]:
def sumUnique(l):
    s = set()
    
    for i in l:
        s.add(i)
    
    ans = 0
    
    for i in s:
        ans += i
    
    return ans

In [51]:
sumUnique([1, 2, 3, 4, 4, 4, 4, 3, 2, 1, 5, 5])

15