## Tuples

In [1]:
# Tuples are similar to lists
# Syntax b = (1,2)

# In Python by default multiple things tend to behave like tuples
# Tuples are also ordered type data structure

# e = 1, 2 # e is a tuple

a = (1,2)

In [2]:
print(a)

(1, 2)

In [3]:
print(type(a))

<class 'tuple'>

In [4]:
b, c = 3, 4

print(b)
print(c)

e = 5, 6
print(e)
print(type(e))

3
4
(5, 6)
<class 'tuple'>

In [5]:
# accessing elements in tuple

e[0]

5

In [6]:
e[1]

6

In [7]:
e[-1]

6

In [8]:
e[-2]

5

In [9]:
# Slicing also takes place similar to lists

f = (1, 2, 3, 4, 5, 6)
f[0:3]

(1, 2, 3)

In [10]:
f[-4:]

(3, 4, 5, 6)

### Difference between tuple and list

In [11]:
# Tuples are immutable, lists are mutable
# Tuples can be updated, items cannot be added or deleted
# deleting the Tuple itself allowed
del f

### Functions available with tuple

In [12]:
a = (1, 2, 3)
b = 4, 5

In [14]:
# for loops
for i in a:
    print(i)

1
2
3

In [16]:
1 in a

True

In [21]:
1 in b

False

In [22]:
# length of tuple

len(a)

3

In [23]:
# concatenation of tuples
c = a + b
c

(1, 2, 3, 4, 5)

In [28]:
d = (a, b) # tuple of tuples
d

((1, 2, 3), (4, 5))

In [29]:
d = a, b
d

((1, 2, 3), (4, 5))

In [30]:
#repetition
e = a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [31]:
min(a) # minimum value

1

In [32]:
max(a) # maximum value

3

In [34]:
a2 = (1, 2, 's', (1))

# max(a2) will throw error, as you cannot compare string or tuple with integers

In [35]:
a3 = (1, 2.2)
max(a3) # int and float are comparable

2.2

In [37]:
type(2.2)

float

In [41]:
# list to tuple
l = [1, 2, 3, 4]
tuple(l)

(1, 2, 3, 4)

### Variable length Input and Output

#### Variable length Input

In [42]:
# We wish to create a sum function which can take as many int as we want

# ie function should be able to take variable length input

def sum(a, b):
    return a + b

In [43]:
sum(1,2)

3

In [44]:
def sum2(a, b, *more):
    print(a)
    print(b)
    print(more)

sum2(2, 3) # more turns out to be an empty tuple ()

2
3
()

In [45]:
sum2(2, 3, 4, 5) # 4 and 5 are going inside the tuple called more

2
3
(4, 5)

In [49]:
# Now we can modify the function in a way that it gives sum of all

def sum3(a, b, *more):
    print(a)
    print(b)
    print(more)
    
    ans = a + b
    
    for i in more:
        ans = ans + i
    
    return ans

print(sum3(2, 3, 4, 5)) # more turns out to be an empty tuple ()

2
3
(4, 5)
14

#### Variable length output

In [50]:
def sum_diff(a, b):
    return a + b, a - b

In [51]:
c = sum_diff(4, 1)

In [53]:
print(c) # By default you were returning more values than 2, Python created a tuple

(5, 3)

In [57]:
d, e = sum_diff(5, 2) # If you have only two value to take the 3 values output ..
# Python would say too many values to unpack
print(d)
print(e)
d, e

7
3

(7, 3)

In [58]:
# if you save output in only one value, thats fine it'll be assigned as tuple

d = sum_diff(4,1)
print(d)

(5, 3)